/*Assignment 6 Stylesheet*/

/*Fonts*/

.Helveticafonts {
  color: #FCFCFC;
  background-color: #0A0A0A;
  font-family: helvetica;
  font-weight: normal;
  border-bottom: 4px solid #0A0A0A;
}

.Helveticafonts2 {
  color: #FFFFF;
  font-family: helvetica;
  font-weight: normal;
}

.Georgiafonts1 {
  font-family: Georgia;
  font-weight: bold;
  text-align: justify;
  width: 400px;
}

.Georgiafonts2 {
  font-family: Georgia;
  text-align: justify;
  margin: 1em auto;
  padding: 10;
  width: 700px;
  border: 10px;
  background-color: #ffffff;
}

.Verdanafonts {
  font-family: Verdana;
  font-style: italic;
  text-align: center;
}

/*Links*/

nav li {
  padding: 10px;
  border: 5px solid #ffffff;
  width: 120px;
  background-color: #FB2121;
  display: block;
}

nav li:hover {
  background-color: #BD2828;
}

nav a: link {
  color: #FCFCFC;
  text-decoration: none;
}

a:link {
 color: #FCFCFC;
 font-style: bold;
 text-decoration: none;
}

a:visited {
 color: #FCFCFC;
 font-style: bold;
 text-decoration: none;
}

a:hover {
  color: #0718CE;
  text-decoration: underline;
}


.imgbox {
border: 4px solid #0A0A0A;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: #FCFCFC;
float: left;
}

.bordertop {
  border-top:  4px solid #0A0A0A;
}
.borderbottom {
  border-bottom: 4px solid #0A0A0A;
}

/*DIVS*/

#wholepage {
    margin: 1em auto;
    padding: 1000;
    width: 1150px;
    border: 4px solid #0A0A0A;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Overall section dividers*/
header {
  grid-column: span 4;
}
nav {
  grid-column: span 1
}
main {
  grid-column: span 2
}
footer {
  grid-column: span 4
}
body {
  background-image: url(a62.png);
}
