/*This is my new style stylesheet*/

/*

p {
 color: #ff0000;
 background-color: #0000FF;
}

*/

h1 {
  color: #FFFFFF;
  background-color: #80E4AA;
}

a {
 color: #FF0000;
 text-decoration: none;
}

a:hover {
 color: #0000FF;
 text-decoration: underline;
}

.spanstyle {
  color: #00FF00;
}

#divexample {
  color: #0000FF;
  background-color: #FFFF00;
}

#specialid {
 color: #00FF00;
 background-color: #000000;
}

.specialp {
 color: #00FF00;
 background-color: #FFFFFF;
}

footer {
  color: #FFFFFF;
  background-color: #FF0000;
}
